<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <title>导游列表</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header class="head posi head_taf">
    <!--<input type="button" value="" class="btn_search"/>-->
    <img src="/static/images/lunch_logo.png" class="lunch_logo"/>
    - 纽约
</header>
<ul class="list_guide">
    <li><img src="/static/images/pic01.jpg"/><span class="time">12:23:43</span></li>
</ul>
<h2 class="f16 tac mat10">服务类型</h2>
<section class="type">
    <p>
        <span><input type="radio" class="chk" name="radio" id="radio01" checked/><label for="radio01">不限</label></span>
        <span><input type="radio" class="chk" name="radio" id="radio02"/><label for="radio02">基本服务</label></span>
    </p>

    <p>
        <span><input type="radio" class="chk" name="radio" id="radio03"/><label for="radio03">接送机服务</label></span>
        <span><input type="radio" class="chk" name="radio" id="radio04"/><label for="radio04">包车服务</label></span>
    </p>
</section>
<h2 class="f16 tac mat10">有缘人类型</h2>
<section class="type">
    <p>
        <span><input type="radio" class="chk" name="radio2" id="radio05" checked/><label for="radio05">不限</label></span>
        <span><input type="radio" class="chk" name="radio2" id="radio06"/><label for="radio06">华侨</label></span>
    </p>

    <p>
        <span><input type="radio" class="chk" name="radio2" id="radio07"/><label for="radio07">留学生</label></span>
        <span><input type="radio" class="chk" name="radio2" id="radio08"/><label for="radio08">原住民</label></span>
    </p>
</section>
<h2 class="f16 tac mat10">性别</h2>
<section class="type">
    <p>
        <span><input type="radio" class="chk" name="radio3" id="radio09" checked/><label for="radio09">不限</label></span>
        <span><input type="radio" class="chk" name="radio3" id="radio10"/><label for="radio10">男</label></span>
    </p>

    <p>
        <span><input type="radio" class="chk" name="radio3" id="radio11"/><label for="radio11">女</label></span>
    </p>
    <input type="button" class="btn_sure" value="确定" id="cityList"/>
</section>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/scale.js"></script>
<script type="text/javascript" src="/static/js/place.js"></script>
</body>
</html>
