<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <title>消息</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header class="head posi">
<!--    <input type="button" value="" class="btn_back"/>-->
    与魏鹏的对话
</header>
<section class="reply_out">
    <ul class="tab">
        <li id="reserveNeed">查看预定需求</li>
        <li class="red">取消申请</li>
    </ul>
    <div class="context gray9 f14">
        温馨提示：为了保证您的利益，请您和对方在有缘游平台上沟通服务细节、完成预订行为，无通过其他方式来确认预定（如电话、微信、QQ）。否则由于位置的线下交易导致某一方所示，有缘游不承担任何责任
    </div>
</section>
<div class="pad10">
    <p class="tac mat10 gray9">2015-08-10 11：29</p>
    <article class="fr mat10">
        <span class="fl mat10">我一个人去</span>

        <div class="tx_reply fl mal10"><img src="/static/images/picture.jpg"/></div>
    </article>
    <div class="clear"></div>
    <article class="mat10">
        <div class="tx_reply fl" id="helpService"><img src="/static/images/picture.jpg"/></div>
        <span class="fl mat10 mal10">您好，我是魏鹏，是您的有缘人</span>
    </article>
</div>
<footer class="foot_reply">
    <input type="text" placeholder="写点什么" class="ipt_reply fl" style="width:70%;"/>
    <span class="fl blue send_pad">发送</span>
</footer>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/scale.js"></script>
<script type="text/javascript" src="/static/js/place.js"></script>
</body>
</html>
