<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <title>消息</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header class="head posi head_taf">
<!--    <input type="button" value="" class="btn_search"/>-->
    <img src="/static/images/lunch_logo.png" class="lunch_logo"/>
</header>

<section class="out out2">
    <article class="inner">
        <div class="norecord">
            <p>还没有消息</p>
        </div>
    </article>
</section>
<ul class="foot">
    <li id="footPlace">目的地</li>
    <li class="select">消息</li>
    <li id="footOrder">订单</li>
    <li id="footMy">我</li>
</ul>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/scale.js"></script>
<script type="text/javascript" src="/static/js/place.js"></script>
</body>
</html>
