<!--myUser.html-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <title>我的</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<section class="myhead2 posi">
    <img src="/static/images/headpic.jpg" class="my_img"/>

    <p class="touxiang"><img src="/static/images/picture.jpg"/></p>
</section>
<ul class=" list_white list_my list_mode">
    <li><span class="fl">验证身份</span><span class="fr gray9 padr" id="userCheck">未验证</span><b class="arow_gray"></b></li>
    <li><span class="fl">客服电话</span><b class="arow_gray"></b></li>
</ul>
<ul class="foot">
    <li id="footPlace">目的地</li>
    <li id="footMessage">消息</li>
    <li id="footOrder">订单</li>
    <li class="select" id="footMy">我</li>
</ul>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/scale.js"></script>
<script type="text/javascript" src="/static/js/place.js"></script>
</body>
</html>
