<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <title>订单</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header class="head posi head_taf">
    <img src="/static/images/lunch_logo.png" class="lunch_logo"/>
</header>
<ul class="list_white">
    <li>
        <h3 class="fl f14 gray9">目的地：</h3>
        <span class="">纽约</span>
    </li>
    <li>
        <h3 class="fl f14 gray9">有缘人：</h3>
        <span class="">魏鹏</span>
    </li>
    <li>
        <h3 class="fl f14 gray9">时间：</h3>
        <span class="">2015-08-12、2015-08-22</span>
    </li>
    <li>
        <h3 class="fl f14 gray9">成人数：</h3>
        <span class="">1位</span>
    </li>
    <li>
        <h3 class="fl f14 gray9">儿童数：</h3>
        <span class="">1位</span>
    </li>
    <li>
        <h3 class="fl f14 gray9">联系方式： </h3>
        <span class="">15810782798</span>
    </li>
</ul>
<h2 class="h2_tit f16">导游服务-不含车</h2>

<div class="row_white gray9">
    <p>2015-08-21、2018-08-22</p>

    <p>CNY500*2=CNY1000</p>
</div>
<div class="tar pad10 mat10" style="margin-bottom:7rem;">
    <p>CNY<span class="red">1000</span> 合计费用</p>

    <p>CNY<span class="red">200</span> 预订金</p>
</div>
<ul class="foot">
    <li id="footPlace">目的地</li>
    <li id="footMessage">消息</li>
    <li class="select" id="footOrder">订单</li>
    <li id="footMy">我</li>
</ul>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/scale.js"></script>
</body>
</html>
