<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <title>支付状态</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header class="head posi">
    支付状态
</header>
<section class="main">
    <article class="checkbg tac posi">
        <b class="pass_icon"></b>
        <h1 class="cardlogo f16">有缘游身份证</h1>
        <dl class="infor box">
            <dt></dt>
            <dd>
                <p>姓名：<span>魏鹏</span></p>
                <p>手机号码：<span>158107827987</span></p>
                <p>身份证件：<span>110108198812096318</span></p>
                <p>颁发时间: <span>2016-01-23</span></p>
            </dd>
        </dl>
    </article>
    <p class="blue tac mat20">恭喜您支付成功</p>
</section>

<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/scale.js"></script>
</body>
</html>
